@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  font-family: 'Smooch Sans', sans-serif;
  text-align: center;
  flex-grow: 1;
  background-image: url('../img/fondo.svg');
  background-size: cover;
  padding-top: 50px;
}
header{
  justify-self: start;
}
#temporizador {
  font-size: 2em;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
#temporizador input{
  margin: 10px;
  font-size: 20px;
}
h2{
  font-size: 3rem;
  color: white;
}
#temporizador span{
  color: white;
  font-weight: bolder;
}
.btn-group button{
  font-size: 20px;
  font-weight: bold;
}

.numeroReloj {
  margin-bottom: 10px;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


